.layout-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr;
  height: 100vh; /* 🔥 clave */
  overflow: hidden; /* ⛔ evita scroll global */
}

/* SIDEBAR FIJO */
.sidebar {  
  height: 100vh;
  overflow: hidden;
}

/* CONTENIDO PRINCIPAL */
.layout-main {
  padding: 25px; /* ⛔ importante */
  overflow: hidden; /* 🔥 */
  background: #fff;

}
